html,body{
    height: 100vh;
    font-family: monospace;
}

body{
    padding:0;
    margin:0;
    box-sizing :border-box;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header{
    background-color: black;
    color: white;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    font-size:2.5vh;
}

.header-name{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.4vh;
    color: white;
}

.header-links{
    display: flex;
    gap: 4vh;
}


.body{
    height: 92.5vh;
    display: flex;
    background-color: #e9e8eb;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size:auto 100%;
    display: flex;
    justify-content: right;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    margin-right: 5%;
    align-items: center;
}

.content-text{
    font-weight: 900;
    font-size: 8vh;
    letter-spacing: 0.4vh;
    color: black;
    margin: 0%;
    width: 100%;
    height: auto;
}

.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
}

.footer-link{
    text-decoration: none;
    font-size: 1.7vh;
    color: #E5E7EB;
}

.main-button{
  background-color: #199319;
  color: white;
  padding: 1.5vh 2.5vh;
  text-decoration: none;
  font-size: 4vh;
  border-radius: 0.4vh;
}

a{
    text-decoration: none;
    color: white;
}